
@{
    ViewBag.Title = "Newsletter Signed up";
}

<h2>@ViewBag.Title</h2>

<h4>Thank You.
    <br /> <br />
    You have been signed up for the newsletter using email: @ViewBag.EmailAddress 
</h4>



